@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Heebo:wght@300;400&display=swap");

html {
  background-color: #faf9fa;
  color: #282631;
}

/* reddy blacky colours */
/* Dark #282631 */
/* Dark Accent #c04e4f */
/* Main Brand red #f13333 */
/* Light accent #92abbc */
/* White-ish #faf9fa */

.App {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  border: 3px;
  border-bottom: 0px;
  border-color: #282631;
  border-style: solid;
  margin: 5px;
  padding: 10px 0px 200px 0px;
}

/* Grid */

.header {
  grid-area: 1 / 2 / 2 / 3;
}

.login {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: fit-content;
}

.light-toggle {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
}

.navigation {
  grid-area: 2 / 2 / 3 / 3;
  margin: 10px; 
  display: flex;
  flex-direction: column;
}

.front-page,
.single-article,
.user-profile {
  display: grid;
  grid-area: 3 / 1 / 4 / 4;
}

/* Styling */

a {
  color: #282631;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

a:hover {
  color: #f13333;
}

.pointer {
  cursor: pointer; 
  transition: color 0.4s;
}

.pointer:hover {
  color: #f13333;
}

h2 {
  font-family: "Bungee", cursive;
  font-size: 4.5vmin;
  margin: 0px;
}

h3 {
  font-family: "Bungee", cursive;
  margin: 10px 0px;
  transition: color 0.2s;
}

p {
  font-family: "Heebo", sans-serif;
}

label {
  margin: 8px
}

/* Topic links have different color props in small and large screen. This is because hover is a feature for cursors and not for touchscreens! */

.topic-link {
  font-family: "Bungee", cursive;
  font-weight: normal;
  font-size: 14px;
  background-color: #f13333;
  color: #faf9fa;
  border-radius: 30px;
  margin: 5px;
  padding: min(20px, 0.1vh) 10px;
}

.topic-link:hover {
  background-color: #c04e4f;
  color: #faf9fa;
}

.topic-link:active {
  background-color: #c04e4f;
  color: #faf9fa;
}

/* dark mode */

.dark {
  background-color: #282631;
  color: #faf9fa;
}

/* Buttons */

button {
  border-color: #282631;
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  font-weight: bold;
  padding: 6px;
  margin: 10px;
  font-family: "Heebo", sans-serif;
  transition: background-color 0.5s, border-style 0.5s, color 0.5s;
}

button:hover {
  background-color: white;
}

button:active {
  background-color: #c04e4f;
  color: #faf9fa;
}

.button--true {
  background-color: #f13333;
  color: #faf9fa;
}

.button--true:hover {
  background-color: #f13333;
}

.button--true:active {
  background-color: #c04e4f;
}

.button--false {
  border-style: dashed;
}

.error {
  color: #f13333;
  border-color: #f13333;
}

.success {
  color: green;
  border-color: forestgreen;
}

.in-progress {
  background-color: #faf9fa;
}

.function-button {
  font-size: 4vh;
  border-width: 0px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  display: grid;
  align-items: center;
  justify-content: center;
}

.function-button:hover {
  cursor: pointer;
  color: #f13333;
}

.close-button {
  grid-area: 1 / 1;
  font-size: 4vh;
  border-width: 0px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  margin: 0px;
  align-self: flex-start;
  justify-self: end;
}

.function-button:hover {
  background-color: transparent;
}

.function-button:active {
  background-color: transparent;
}

/* Header & Navigation */

.header-text {
  font-family: "Bungee Shade", cursive;
  font-size: 14.8vmin;
  text-decoration: overline;
  margin: 5% 0% 0% 0%;
}

.header-text:hover {
  color: #282631;
}

.header-text:active {
  color: #f13333;
}

.navigation__description {
  margin: 0px 0px 25px 0px;
  line-height: 1em;
}

.navigation__menu {
  margin: 10px;
  padding: 4px;
}

.query-bar {
  margin: 10px;
}

/* Login */

.popup-background {
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background-color: #fff;
  z-index: 20;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.popup-window {
  max-width: 400px;
  max-height: 250px;
  box-shadow: 0px 0px 0px 9999px rgba(48, 38, 49, 0.7);
  z-index: 10;
  background-color: #faf9fa;
  width: 80vw;
  height: 50vw;
  border-style: solid;
  border-radius: 17px;
  padding: 14px;
  margin: 8px;
  display: grid;
  align-items: center;
  transition: box-shadow 1s;
}

.login__form {
  grid-area: 1 / 1;
  display: grid;
  justify-items: center;
}

.login__button {
  width: 90px;
}

.logged-in-screen {
  grid-area: 1 / 1;
  width:fit-content;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.logged-in-screen__user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* FrontPage */

.article-list {
  display: flex;
  list-style: none;
  padding: 0px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.small-item {
  max-width: 590px;
  border-style: solid;
  border-radius: 17px;
  padding: 14px;
  margin: 8px;
  width: 80vw;
}

.article-list__img {
  width: 80vw;
  max-width: 590px;
}

.article-list__user-info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* Single article */

.single-article {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.article-card {
  display: flex;
  max-width: 592px;
  padding: 14px;
  margin: 0px 4vw;
  width: 80vw;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.article-card__title {
  font-family: "Bungee Shade", cursive;
  font-size: 6vmin;
  max-width: 900px;
}

.article-card__img {
  width: 100%;
  max-width: 800px;
}

.article-card__author {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 60vmin;
  max-width: 500px;
}

.article-card__author-avatar {
  width: 45px;
  height: 45px;
  border-color: #282631;
  border-width: 2px;
  border-style: solid;
  margin: 0px 5px;
  padding: 5px;
  object-fit: contain;
}

.article-card__author-avatar:hover {
  border-color: #f13333;
}

.user-details {
  margin: 0px 5px;
}

.article__like-button {
  width: 50px;
  height: 50px;
  font-size: 1.2em;
}

/* Comments form */

.comment-form {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  max-width: 600px;
  flex-wrap: wrap;
  flex-direction: column;
}

#comment-form__input {
  width: 80vw;
  height: 80vh;
  max-height: 200px;
  max-width: 590px;
  resize: vertical;
  border-style: solid;
}

/* Comment List */

.comment-list {
  display: flex;
  list-style: none;
  padding: 0px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.comment-item {
  max-width: 600px;
  border-style: solid;
  border-width: 2px;
  border-radius: 17px;
  padding: 14px;
  margin: 9px;
  width: 90v;
}

.delete {
  width: 90px;
}

/* This hover / active colour scheme is optimised for laptops / cursor-based devices, cos when you click something and you're hovering it looks bright */

.comment-list__vote-button {
  width: 30px;
  height: 30px;
  padding: 0px;
  font-size: 1em;
}

/* User profile */

.user-profile {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
}

.user-profile__user-info {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 90vmin;
  max-width: 590px;
}

.user-profile__profile-pic {
  width: 18vmin;
  height: 18vmin;
  max-width: 200px;
  max-height: 200px;
  background-color: white;
  border-color: #282631;
  border-width: 2px;
  border-radius: 17px;
  border-style: solid;
  object-fit: contain;
  padding: 2vmin;
}

.user-profile__article-list {
  display: flex;
  list-style: none;
  padding: 0px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Error handling */

.err-code {
  font-family: "Bungee Shade", cursive;
  font-size: 23vmin;
  font-weight: bold;
  margin: 0px;
  line-height: 1.5;
}

.err-msg {
  font-family: "Bungee", cursive;
  font-size: 4.5vmin;
  margin: 0px;
}

@media only screen and (max-width: 780px) {
  /* new grid to account for login bar */
  .header {
    grid-area: 1 / 1 / 2 / 4;
  }

  .login {
    grid-area: 2 / 3 / 3 / 4;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .login__text {
    visibility: hidden;
  }

  .light-toggle {
    /* visibility: hidden; */
    grid-area: 2 / 1 / 3 / 2;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}

@media only screen and (min-width: 770px) {
  .App {
    padding: 10px 10px 200px 10px;
  }

  .navigation {
    grid-area: 2 / 1 / 3 / 4;
  }

  .front-page {
    grid-area: 3 / 2 / 4 / 3;
  }

  .button--true {
    background-color: #c04e4f;
    color: #faf9fa;
  }

  button:active {
    background-color: #f13333;
    color: #faf9fa;
  }

  .topic-link {
    background-color: #92abbc;
  }

  .topic-link:hover {
    background-color: #f13333;
    color: #faf9fa;
  }

  .topic-link:active {
    background-color: #f13333;
    color: #faf9fa;
  }
}
