@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");
html {
  background-color: #f5f5f7;
}

/* #f5f5f7 */
/* #ef9379 */
/* #b56e8c */
/* #5b92ef */
/* #9f3025 */

a {
  color: black;
}

.App {
  text-align: center;
}


button {
  border-color: black;
  border-style: solid;
  font-weight: bold;
  padding: 6px;
  margin: 10px;
}

.error {
  color: red;
  border-color: red;
}

.success {
  color: green;
  border-color: forestgreen;
}

.posting {
  background-color: #f5f5f7;
}

/* Header & Navigation */
.header {
  font-family: "Rubik Iso", cursive;
  font-size: 4em;
  margin: 50px 0px 0px 0px;
}

.navigation__description {
  margin: 0px 0px 20px 0px;
}

.navigation {
  margin: 0px 0px 30px 0px;
}

.navigation__select {
  margin: 9px;
  padding: 4px
}

/* FrontPage */

.article-list {
  display: flex;
  list-style: none;
  padding: 0px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.article-list-item {
  max-width: 600px;
  border-style: solid;
  border-width: 2px;
  border-radius: 17px;
  padding: 14px;
  margin: 9px;
  border-color: #5b92ef;
  width: 90vw;
}
.article-list__img {
  width: 90vw;
  max-width: 600px;
}

/* Single article */

.single-article {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.article-card {
  max-width: 800px;
  border-style: solid;
  border-width: 2px;
  border-radius: 17px;
  padding: 14px;
  margin: 9px;
  border-color: #5b92ef;
  width: 90vw;
}

.article-card__img {
  width: 100%;
  max-width: 800px;
}

.article-card__author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
}

.article-card__author-avatar {
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: #5b92ef;
}

.article-card__author-name {
  margin-left: 10px;
}

.article-card__topic {
  margin-left: 10px;
}

.article-votes {
  font-size: 1.2em;
  font-weight: bold;
}

.article__like-button--false {
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  border-style: dashed;
}

.article__like-button--true {
  width: 50px;
  height: 50px;
  font-size: 1.2em;
}

/* Comments form */

.comment-form {
  display: flex;
  justify-content: center;
  max-width: 600px;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  border-radius: 17px;
  border-color: #9f3025;
  margin: 9px;
  padding: 14px;
}

#comment-form__input {
  width: 90vw;
  height: 10vw;
  max-width: 600px;
  resize: vertical;
  border-style: solid;
}

/* Comment List */

.comment-list {
  display: flex;
  list-style: none;
  padding: 0px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.comment-item {
  max-width: 600px;
  border-style: solid;
  border-width: 2px;
  border-radius: 17px;
  padding: 14px;
  margin: 9px;
  border-color: #ef9379;
  width: 90v;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
